@import "tailwindcss";


html {
  scroll-behavior: smooth;
}
/* Global variables */
:root {
  --midnight: #0F172A;
  --skyBlue: #0EA5E9;
  --white: #E5E7EB;
  --darkSlate: #1E293B;
  --lightSlate:#1d293d;
  --light-gray: #d1d5db;
  --hard-gray: #111827;
  --light-navy:#112240;
}

[data-theme='dark'] {
  --bg: var(--midnight);
  --text: var(--white);
  --secondary-bg: var(--darkSlate);
  --bg-logo:var(--light-gray);
  --bg-card:var(--lightSlate);
  transition: background-color 0.3s, color 0.3s;
}


[data-theme='light'] {
  --bg: var(--white);
  --text: var(--midnight);
  --secondary-bg: var(--darkSlate);
  --bg-logo:var(--hard-gray);
  --bg-card:var(--light-gray);
  
  transition: background-color 0.3s, color 0.3s;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.15s ease;
  z-index: 10;
}
