@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@600&family=Source+Code+Pro&display=swap');
@import "tailwindcss";




html {
  scroll-behavior: smooth;
}
/* Global variables */
:root {
  --midnight: #010716;
  --midnight-op: #01071682;
  --skyBlue: #0EA5E9;
  --white: #ffffff;
  --white-op: #e5e7eb5e;
  --darkSlate: #1E293B;
  --lightSlate:#1d293d;
  --light-gray: #d1d5db;
  --hard-gray: #111827;
  --light-navy:#112240;
}

[data-theme='dark'] {
  --bg: var(--midnight);
  --bg-nav: var(--midnight-op);
  --text: var(--white);
 
  --secondary-bg: var(--darkSlate);
  --bg-logo:var(--light-gray);
  --bg-card:var(--lightSlate);
  transition: background-color 0.3s, color 0.3s;
}


[data-theme='light'] {
  --bg: var(--white);
  --bg-nav: var(--white-op);
  --text: var(--midnight);
  
  --secondary-bg: var(--darkSlate);
  --bg-logo:var(--hard-gray);
  --bg-card:var(--light-gray);
  
  transition: background-color 0.3s, color 0.3s;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}
h1,h2{
   font-family: 'Poppins', sans-serif;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;
  z-index: 10;
}
